@import './styles/global';

$primary-color: #16a318;
$secondary-color: #fff;
$accent-color: #012c0b;
$background-color: #f4f4f9;
$text-color: #333;
$description-text: #555;
$box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
$table-row-color: rgb(213, 239, 212);
$table-h-color: rgb(194, 241, 193);
$table-row-color-hover: rgb(235, 249, 235);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: $background-color;
    color: $text-color;
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color;
    padding: 20px;
    border-radius: 8px;
    box-shadow: $box-shadow;

    .title {
        color: $secondary-color;
        font-size: 24px;
        font-weight: bold;
        margin-left: 20px;
    }

    .nav-links {
        list-style: none;
        display: flex;
        gap: 20px;

        li {
            margin: 0;
        }

        a {
            text-decoration: none;
            color: $secondary-color;
            font-size: 18px;
            transition: color 0.3s ease;

            &:hover {
                color: $accent-color;
            }
        }
    }
}

.site-description {
    margin-top: 40px;
    text-align: center;

    h2 {
        font-size: 32px;
        color: $text-color;
        padding: 10px;
    }

    p {
        font-size: 18px;
        color: $description-text;
        margin-top: 10px;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        line-height: 1.6;
    }
    hr{
        margin-bottom: 10px;
        margin-top: 10px;
    }
}
.main-content{
    display: block;
    width:60%;
    margin: auto;
    text-align: center;
}
.sec-content {
  display: block;
  width: 60%;
  margin: auto;
  text-align: center;
}
button{
    padding:10px;
    color: white;
    background-color: green;
    border-radius: 3px;
    border: none;
    box-shadow: 5px 5px 10px lightgrey;
    &:hover{
        background-color: rgb(10, 213, 10);
    }
}

#sucess-msg{
    visibility: hidden;
}
.user-data {
    margin: auto;
    width: 60%;
    border: 2px solid white;
    border-collapse: collapse;
    border-spacing: 0 5px;

    .user-data-head {
        th {
            background-color: $table-h-color;
            padding: 10px;
            margin: 5px; 
        }
    }

    tr {
        td {
        padding: 10px;
        }

        &:hover {
        background-color: $table-row-color-hover;
        }
    }
}
